<template>
  <div
    :class="`inline-block`"
    v-html="require(`~/assets/icons/${name}.svg`)"
  />
</template>

<script>
export default {
  props: {
    name: { type: String, required: true }
  },
  mounted () {
    const svgs = this.$el.querySelectorAll('svg')
    for (const svg of svgs) {
      svg.classList.add(this.$style.svg, ...this.$el.classList)
      const width = svg.getAttribute('width')
      const height = svg.getAttribute('height')
      if (width && height) {
        svg.setAttribute('viewBox', `0 0 ${width} ${height}`)
      }
      svg.removeAttribute('height')
      svg.removeAttribute('width')

      const paths = svg.querySelectorAll('path')
      for (const path of paths) {
        path.setAttribute('fill', 'currentColor')
      }
    }
  }
}
</script>

<style module>
.svg {
  fill: currentColor;
  vertical-align: center;
  height: 1em;
  width: 1em;
  margin-top: -0.2em;
}
</style>
