<template>
  <div class="flex flex-col min-h-screen">
    <header class="pt-3 pb-8 border-b shadow bg-white">
      <div class="container mx-auto flex flex-col md:flex-row justify-between items-center md:items-end px-3">
        <nuxt-link to="/" class="flex items-center -mb-6">
          <icon name="logo" class="text-6xl" />
          <div class="ml-4">
            <h1 class="font-bold text-2xl">
              BookApp
            </h1>
            <p class="text-sm text-gray-800">
              The best place to keep track of your reading.
            </p>
          </div>
        </nuxt-link>
        <div class="pt-8 sm:pt-4 md:pt-0 text-md">
          <div v-if="isLoggedIn">
            <nuxt-link to="/profile" class="menu--button">
              <icon name="user" />
              {{ firstName }}
            </nuxt-link>
            <nuxt-link to="/books" class="menu--button">
              <icon name="logo" />
              Books
            </nuxt-link>
          </div>
          <div v-else>
            <nuxt-link to="/login" class="menu--button">
              <icon name="user" />
              Login
            </nuxt-link>
          </div>
        </div>
      </div>
    </header>
    <main class="flex-grow pt-8 pb-4">
      <nuxt />
    </main>
  </div>
</template>

<script>
import icon from '~/components/icon'

export default {
  components: {
    icon
  },
  computed: {
    isLoggedIn () {
      return this.$store.state.authentication.me !== null
    },
    firstName () {
      return this.$store.state.authentication.me.firstName
    }
  },
  mounted () {
    this.$store.dispatch('authentication/checkLogin')
  }
}
</script>

<style lang="postcss" scoped>
.menu--button {
  @apply mx-2 py-1 px-2 border border-gray-500 bg-gray-300;
}

.menu--button:hover {
  @apply bg-gray-200;
}
</style>
