<template>
  <div>
    <div class="mb-2 font-bold border-b w-full">
      <div class="container mx-auto px-3 text-xl">
        Welcome
      </div>
    </div>
    <div class="container mx-auto px-3">
      <p class="pt-3">
        Welcome to the homepage of the bookapp.
      </p>
      <p v-if="me">
        Hi {{ me.firstName }}, view your books on
        <nuxt-link to="/books">
          your books page
        </nuxt-link>
      </p>
      <p v-else>
        You are not logged in, please do so if you want to use this app.
      </p>
    </div>
    <div class="mb-2 mt-8 border-b font-bold border-gray-300 w-full">
      <div class="container mx-auto px-3">
        Under Construction
      </div>
    </div>
    <div class="container mx-auto px-3">
      <p class="mt-3">
        BookApp is created by <a href="https://www.simonkarman.nl" target="_blank">Simon Karman</a> and Lisa Pruijn and is still under construction.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    me () {
      return this.$store.state.authentication.me
    }
  }
}
</script>

<style lang="postcss" scoped>
a {
  @apply text-red-600 underline;
}
</style>
