<template>
  <div class="container mx-auto">
    <div class="mx-2 px-3 bg-white p-3 border">
      <h1 class="font-bold text-lg">
        Login
      </h1>
      <p>
        Fill in your username and password below.
      </p>
      <input v-on:keyup.enter="tryLogin()" v-model="username" type="text" placeholder="username" class="border my-1 py-1 px-2 block">
      <input v-on:keyup.enter="tryLogin()" v-model="password" type="password" placeholder="password" class="border my-1 py-1 px-2 block">
      <button @click="tryLogin()" :class="isLoading ? 'bg-gray-300' : 'bg-green-300 hover:bg-green-400'" class="py-2 px-5 border">
        {{ isLoading ? 'Loading...' : 'Login' }}
      </button>
      <p v-if="error" class="bg-red-200 border border-red-300 text-red-800 text-center my-1 py-2">
        Error while trying to login: {{ error }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'unauthenticated',
  data: () => ({
    username: '',
    password: ''
  }),
  computed: {
    isLoading () {
      return this.$store.state.authentication.loginInProgress
    },
    error () {
      return this.$store.state.authentication.error
    }
  },
  methods: {
    async tryLogin () {
      if (this.loading) {
        return
      }
      this.redirectIfLoggedIn()
      await this.$store.dispatch('authentication/login', { username: this.username, password: this.password })
      this.redirectIfLoggedIn()
    },
    redirectIfLoggedIn () {
      if (this.$store.state.authentication.me !== null) {
        const to = this.$route.query.to || '/books'
        this.$router.push(to)
      }
    }
  }
}
</script>
