<template>
  <div>
    <div v-if="me" class="container mx-auto px-3 mb-3">
      <div class="mb-3">
        <p>
          Hi <span class="font-bold">{{ `${me.firstName}` }}</span>,<br>
          This is your profile page.
        </p>
      </div>
      <hr>
      <div class="my-3">
        <p v-for="(value, key) in me" :key="key">
          <span class="text-xs text-gray-600 mr-2">{{ key }} </span> {{ value }}
        </p>
      </div>
      <hr>
      <button @click="tryLogout()" class="bg-red-300 p-1 mt-3">
        Logout
      </button>
    </div>
    <div v-else class="container mx-auto px-3 mb-3">
      You are no longer logged in... you'll be redirect to the login page.
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'authenticated',
  data: () => ({
    loginStatus: 'unknown'
  }),
  computed: {
    me () {
      return this.$store.state.authentication.me
    }
  },
  methods: {
    async tryLogout () {
      this.username = ''
      this.password = ''
      await this.$store.dispatch('authentication/logout')
      this.$router.go()
    }
  }
}
</script>
