<template>
  <div>
    <div class="container mx-auto px-3">
      <nuxt-link to="/books" class="text-blue-700">
        &lt; Go back to all your books
      </nuxt-link>
    </div>
    <div class="mb-2 mt-8 font-bold border-b w-full">
      <h1 class="container mx-auto px-3 text-xl">
        {{ title }} - {{ author }}
      </h1>
    </div>
    <div class="container mx-auto px-3">
      <div class="mt-6">
        <p class="text-xs text-gray-700">
          isbn {{ isbn }} | id {{ id }}
        </p>
        <p class="my-4">
          {{ synopsys }}
        </p>
        <p class="border bg-white p-4 w-full mb-4">
          Keep track of your progress! How many pages did you read today?<br>
          Pages: <span class="font-bold">0</span> / <span class="text-sm">{{ pageCount }}</span><br>
          <span class="text-xs text-gray-600">(this will be editable per day in the future!)</span>
        </p>
        <div class="bg-red-100 border p-4 w-full border">
          <p>
            Here you should also be able to DELETE your book if you really wanted to.
            <button @click="toggleShowDelete()" class="w-full border bg-gray-100 py-1">
              {{ showDelete ? 'Hide' : 'Show' }} Delete Button
            </button>
          </p>
          <div v-if="showDelete" class="mt-3 pt-3 border-t">
            <p>If you're sure you want to delete this book, then click the button below! This action cannot be undone</p>
            <button @click="tryDelete()" class="bg-red-800 text-white border border-red-400 p-4">
              Delete this book!
            </button>
            <p v-if="deleteError">{{ deleteError.response.data }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'authenticated',
  async asyncData ({ route, store }) {
    const { bookId } = route.params
    await store.dispatch('book/fetchOne', { bookId })

    return {
      ...store.state.book.books.find(book => book.id === bookId),
      showDelete: false
    }
  },
  computed: {
    deleteError () {
      return this.$store.state.book.status.delete.error
    }
  },
  methods: {
    toggleShowDelete () {
      this.showDelete = !this.showDelete
    },
    async tryDelete () {
      await this.$store.dispatch('book/delete', this.id)
      if (this.deleteError === null) {
        this.$router.push('/books')
      }
    }
  }
}
</script>
