<template>
  <div>
    <div class="container mx-auto px-3">
      <nuxt-link to="/books" class="text-blue-700">
        &lt; Go back to all your books
      </nuxt-link>
    </div>
    <div class="mb-2 mt-8 font-bold border-b w-full">
      <h1 class="container mx-auto px-3 text-xl">
        Add a new book!
      </h1>
    </div>
    <div class="container mx-auto px-3">
      <div class="mt-6">
        <p>
          Please fill in the title, author, page count, ISBN, and synopsys below.
        </p>
        <div class="my-4 p-4 bg-white border shadow">
          <div class="flex flex-grow my-4">
            <span class="flex-grow-0 p-2 mr-4 w-32">Title</span>
            <input type="text" v-model="title" placeholder="title" class="w-full p-2 border" />
          </div>
          <div class="flex flex-grow my-4">
            <span class="flex-grow-0 p-2 mr-4 w-32">Author</span>
            <input type="text" v-model="author" placeholder="author" class="w-full p-2 border" />
          </div>
          <div class="flex flex-grow my-4">
            <span class="flex-grow-0 p-2 mr-4 w-32">Page count</span>
            <input type="number" v-model="pageCount" placeholder="page count" class="w-full p-2 border" />
          </div>
          <div class="flex flex-grow my-4">
            <span class="flex-grow-0 p-2 mr-4 w-32">ISBN</span>
            <input type="text" v-model="isbn" placeholder="isbn" class="w-full p-2 border" />
          </div>
          <div class="flex flex-grow my-4">
            <span class="flex-grow-0 p-2 mr-4 w-32">Synopsys / Description</span>
            <textarea v-model="synopsys" placeholder="synopsys / description" class="w-full h-20 min-h-full p-2 border" />
          </div>
          <button @click="tryAddBook()" class="p-2 w-full bg-green-100 border border-green-200 text-green-800">Add book!</button>
        <div v-if="error" class="p-4 bg-red-200 text-red-800 border border-red-300 mt-4">
          <div>{{ error.response.data.message }}</div>
          <div v-for="cause in error.response.data.causes" :key="`${cause.path}-${cause.validation}`">
            - {{ cause.type }} on <span class="font-bold">{{ cause.path }}</span>. Error due to validation: {{ cause.validation }}
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Creating a new book could use: https://www.googleapis.com/books/v1/volumes?maxResults=23&startIndex=0&q=harry+potter&printType=books
export default {
  middleware: 'authenticated',
  data: () => ({
    title: '',
    author: '',
    pageCount: 100,
    isbn: '0000000000',
    synopsys: ''
  }),
  computed: {
    error () {
      return this.$store.state.book.status.create.error
    },
    loading () {
      return this.$store.state.book.status.create.loading
    }
  },
  methods: {
    async tryAddBook () {
      if (this.loading) {
        return
      }

      const book = {
        title: this.title,
        author: this.author,
        pageCount: this.pageCount,
        isbn: this.isbn,
        synopsys: this.synopsys
      }

      await this.$store.dispatch('book/create', book)

      if (this.error === null) {
        this.title = ''
        this.author = ''
        this.pageCount = 100
        this.isbn = '0000000000'
        this.synopsys = ''

        this.$router.push('/books')
      } else {
        console.log(this.error)
      }
    }
  }
}
</script>
