<template>
  <div>
    <div v-for="category of bookCategories" :key="category.name" class="mb-8 py-4">
      <div class="mb-2 font-bold border-b w-full">
        <div class="container mx-auto px-3 text-xl">
          {{ category.name }} ({{ category.books.length }})
        </div>
      </div>
      <div class="px-3">
        <div class="container mx-auto py-3 px-3 bg-white border flex overflow-y-hidden overflow-x-scroll shadow">
          <nuxt-link :to="`/books/${book.id}`" v-for="book of category.books" :key="book.id">
            <div class="flex flex-wrap content-center items-center text-center h-80 w-56 border p-2 mr-4 bg-gray-100 hover:bg-gray-200">
              <h3 class="w-full font-bold">
                {{ book.title }}
              </h3>
              <p class="w-full">
                {{ book.author }}
              </p>
              <p class="w-full text-gray-800 text-sm">
                at <span class="font-bold">0</span>/{{ book.pageCount }} pages
              </p>
            </div>
          </nuxt-link>
          <nuxt-link v-if="category.canAdd" :to="`/books/create`" class="flex-grow-0 flex-shrink-0 pr-3">
            <div class="flex flex-wrap items-center content-center text-center h-80 w-56 border hover:bg-gray-200">
              <icon name="add" class="w-full text-2xl text-gray-700" />
              <p class="w-full text-gray-700">
                Add a new book
              </p>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import icon from '~/components/icon'

export default {
  middleware: 'authenticated',
  components: {
    icon
  },
  computed: {
    bookCategories () {
      const books = this.$store.state.book.books
      return [
        { name: 'Currently Reading', books, canAdd: true },
        { name: 'Finished', books: [] }
      ]
    },
    getBooksError () {
      return this.$store.state.book.status.fetchAll.error
    }
  },
  async asyncData ({ store }) {
    if (!store.state.book.status.fetchAll.succeededOnce) {
      await store.dispatch('book/fetchAll')
    }
    return {}
  }
}
</script>

<style lang="postcss" scoped>
::-webkit-scrollbar {
  @apply h-4;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 border;
}
</style>
